.accounts{
    margin: auto;
    width: 80%;
    border-collapse: collapse;
}

.accounts th, .accounts td {
    border: 1px solid var(--faded-white);
    padding:5px;
}


.horizontal-form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.form-input{
    /* width: fit-content; */
}

.horizontal-form > .form-input > label{
    margin-right:10px;
    /* width: fit-content; */
}