<div class="navbar">
    <div class="navbar-button">
        <!-- <a routerLink="/" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}">Performant</a> -->
        <a routerLink="/" >Performant</a>
    </div>
    <div class="navbar-button">
        <a routerLink="/visualize" routerLinkActive="nav-active">Visualize</a>
    </div>
    <div class="navbar-button">
        <a routerLink="/history" routerLinkActive="nav-active">History</a>
    </div>
    <div class="navbar-button">
        <a routerLink="/input" routerLinkActive="nav-active">Input</a>
    </div>
    <div class="nav-spacing"></div>
    <div class="navbar-button">
        <a routerLink="/account" routerLinkActive="nav-active">Account</a>
    </div>
</div>