<div class="history-container">
    <table class="transactions">
        <tr>
            <th>Ticker</th>
            <th>TX Date</th>
            <th>Purchase Price</th>
            <th>Quantity</th>
        </tr>
        <ng-container *ngFor="let ticker_group of transactions">
            <tr *ngFor="let tx of ticker_group[1]; first as isFirst">
                <td *ngIf="isFirst" [attr.rowspan]="ticker_group[1].length">
                    {{ticker_group[0]}}
                </td>
                <td>
                    {{tx["date"]}}
                </td>
                <td>
                    {{tx["price"]}}
                </td>
                <td>
                    {{tx["quantity"]}}
                </td>
            </tr>
        </ng-container>
    </table>    
</div>
