<div class="method-switch">
    <div class="switch-button" [ngClass]="{'active': visAccount}">
        <a (click)="visAccount = true">Account</a>
    </div>
    <div class="switch-button" [ngClass]="{'active': !visAccount}">
        <a (click)="visAccount = false">Position</a>
    </div>
</div>
<hr>
<div *ngIf="visAccount; then thenBlock else elseBlock" class="display switch">
</div>

<!-- ACCOUNT -->
<ng-template #thenBlock>
    Content to render when condition is true.
</ng-template>

<!-- POSITIONS -->
<ng-template #elseBlock>
    <!-- {{stockGData | json}} -->
    
    <div *ngIf="pgd_pl">
        <!-- {{pgd_pl | json}}
        {{pgd_plp | json}}
        {{pgd_quantity | json}} -->
        
    </div>
    <div class="visual-container">
        <div class="visual-options">
            Options
            <ol>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
            </ol>
        </div>
        <div class="visual-graph">
            <ngx-charts-line-chart
                [scheme]="schemed"
                [legend]="legend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [timeline]="timeline"
                [results]="multi"
                >
            </ngx-charts-line-chart>
        </div>
    </div>
</ng-template>