<div class="visual-base">
    <div class="method-switch">
        <div class="switch-button" [ngClass]="{'active': visAccount}">
            <a (click)="visAccount = true">Account</a>
        </div>
        <div class="switch-button" [ngClass]="{'active': !visAccount}">
            <a (click)="visAccount = false">Position</a>
        </div>
    </div>
    <hr>
    <div *ngIf="visAccount; then thenBlock else elseBlock" class="display switch">
    </div>
</div>

<!-- TEMPLATES: -->
<!-- ACCOUNT -->
<ng-template #thenBlock>
    <div class="visual-container">
        <div class="visual-options">
            <h2>Options:</h2>
            <form class="vertical-form" [formGroup]="accOptForm" (change)="updateAccGraphSeries()">
                <div class="form-input">
                    <label for="dep_bal">Deposited Balance ($):</label>
                    <input id ="dep_bal" type="checkbox" class="form-input" formControlName="dep_bal" checked>
                </div>
                <div class="form-input">
                    <label for="inv_val"> Invested Value ($):</label>
                    <input id="inv_val" type="checkbox" class="form-input" formControlName="inv_val">
                </div>
                <div class="form-input">
                    <label for="avail_funds"> Available funds ($):</label>
                    <input id="avail_funds" type="checkbox" class="form-input" formControlName="avail_funds">
                </div>
                <div class="form-input">
                    <label for="ov_pl"> Overall P/L ($):</label>
                    <input id="ov_pl" type="checkbox" class="form-input" formControlName="ov_pl">
                </div>
                <!-- <div class="form-input">
                    <label for=""> (%):</label>
                    <input id="" type="checkbox" class="form-input" formControlName="">
                </div>
                <div class="form-input">
                    <label for=""> (%):</label>
                    <input id="" type="checkbox" class="form-input" formControlName="">
                </div>
                <div class="form-input">
                    <label for=""> (%):</label>
                    <input id="" type="checkbox" class="form-input" formControlName="">
                </div> -->
            </form>
        </div>
        <div class="visual-graph" *ngIf="showGraph && visAccount">
            <ngx-charts-line-chart
                [scheme]="'forest'"
                [showXAxisLabel]="showXAxisLabel"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [xAxisLabel]="xAxisLabel"
                [timeline]="true"
                [results]="acc_graphs"
                >
            </ngx-charts-line-chart>
        </div>
    </div>
</ng-template>
<!-- POSITIONS -->
<ng-template #elseBlock>
    <!-- {{stockGData | json}} -->
    
    <div *ngIf="pgd_pl">
        <!-- {{pgd_pl | json}}
        {{pgd_plp | json}}
        {{pgd_quantity | json}} -->
        
    </div>
    <div class="visual-container">
        <div class="visual-options">
            <h2>Options:</h2>
            <form class="vertical-form" [formGroup]="posOptForm" (change)="updateGraphSeries()">
                <div class="form-input">
                    <select (change)="getSymbolGraphInfo($event)" [formControl]="tickerForm">
                        <option *ngFor="let ticker of availablePositions" value="{{ticker}}">{{ticker}}</option>
                    </select>
                </div>
                <ng-template [ngIf]="tickerForm.value">
                    <div class="form-input">
                        <label for="pl">Profits and Losses ($):</label>
                        <input id ="pl" type="checkbox" class="form-input" formControlName="pl" checked>
                    </div>
                    <div class="form-input">
                        <label for="plp">Profits and Losses (%):</label>
                        <input id="plp" type="checkbox" class="form-input" formControlName="plp">
                    </div>
                    <div class="form-input">
                        <label for="pl">Quantity (#):</label>
                        <input id="quantity" type="checkbox" class="form-input" formControlName="quantity">
                    </div>
                </ng-template>
            </form>
        </div>
        <div class="visual-graph" *ngIf="showGraph && tickerForm.value">
            <ngx-charts-line-chart
                [scheme]="schemed"
                [showXAxisLabel]="showXAxisLabel"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [xAxisLabel]="xAxisLabel"
                [timeline]="true"
                [results]="multi"
                >
            </ngx-charts-line-chart>
        </div>
    </div>
</ng-template>