ngx-charts-line-chart text{
    fill: white;
}

.visual-base {
    display:flex;
    flex-direction: column;
    height: 100%;
}
.method-switch{
    display:flex;
    justify-content: center;
}

.switch-button{
    margin:15px 20px;
    padding:10px 40px;
    font-size: 2em;
    transition: ease .2s;
    border-radius: 1000px;
    cursor: pointer;
    transition: 'background-color' ease .5s;
}

.switch-button:hover{
    background-color: #222;
}

.switch-button.active{
    background-color: var(--main-green);
    font-weight: 400;
    color: #222;
}

.visual-container{
    display:flex;
    flex-direction: row;
    flex-grow:1;
    box-sizing: border-box;
    padding:20px 0px;
}

.visual-graph{
    flex-grow: 1;
    // padding:20px;
    box-sizing: border-box;
}

.vertical-form{
    align-items: end;
}
h2{
    text-align: right;
}