/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

:root{
    /* Variables */
    --main-green: #00e63d;
    --faded-white: #e9e9e9;
}

html{
    font-family: 'Nunito Sans', sans-serif;
    color:var(--main-green);
    letter-spacing: 1px;
    font-weight: 200;

    background-color: #111;
}

body{
    /* Remove default spacing around edges */
    margin: 0px;
}

a {
    text-decoration: none;
    color: unset;
}

hr{
    color: var(--faded-white);
}

/* input, button, select, option{
    background:none;
    color: var(--main-green);
} */

/* FORMS */
.horizontal-form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.form-input{
    /* width: fit-content; */
}

.horizontal-form > .form-input > label{
    margin-right:10px;
    /* width: fit-content; */
}