/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

html{
    font-family: 'Nunito Sans', sans-serif;
    color:#00e63d;
    letter-spacing: 1px;
    font-weight: 200;

    background-color: #111;
}

body{
    /* Remove default spacing around edges */
    margin: 0px;
}

a {
    text-decoration: none;
    color: unset;
}