/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

:root{
    /* Variables */
    --main-green: #00e63d;
    --faded-white: #e9e9e9;
}

html{
    font-family: 'Nunito Sans', sans-serif;
    color:var(--main-green);
    letter-spacing: 1px;
    font-weight: 200;

    background-color: #111;
    height:100%;
}

body{
    /* Remove default spacing around edges */
    margin: 0px;
    height:100%
}

app-root{
    display:flex;
    flex-direction: column;
    height: 100%;
}

a {
    text-decoration: none;
    color: unset;
}

hr{
    color: var(--faded-white);
    min-width: 800px;
}

/* TABLES */
table{
    margin: auto;
    width: 80%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid var(--faded-white);
    padding:5px;
}

/* input, button, select, option{
    background:none;
    color: var(--main-green);
} */

/* FORMS */
.vertical-form{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.vertical-form > .form-input {
    margin: 10px;
}


.horizontal-form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.form-input{
    /* width: fit-content; */
}

.form-input > label{
    margin-right:10px;
    /* width: fit-content; */
}

.ngx-charts{
    text{
        fill: #fff;
    }
    .tooltip-anchor{
        fill: #fff !important;
    }
}